.popupContainer {
	display: flex;
	gap: 20px;
	img {
		height: 48px;
		object-fit: cover;
		width: 64px;
		border-radius: 5px;
	}
}

.textContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
